[submodule "Cargo"]
path = Cargo
url = ssh://git@github.com/CodeEditorLand/DependencyLandCargo.git

[submodule "NPM"]
path = NPM
url = ssh://git@github.com/CodeEditorLand/DependencyLandNPM.git

# [submodule "Dependency"]
# path = Dependency
# url = ssh://git@github.com/CodeEditorLand/DependencyLandDependency.git
