[submodule "Cargo"]
path = Cargo
url = ssh://git@github.com/CodeEditorLand/DependencyLandCargo.git

[submodule "NPM"]
path = NPM
url = ssh://git@github.com/CodeEditorLand/DependencyLandNPM.git

[submodule "Service"]
path = Service
url = ssh://git@github.com/CodeEditorLand/DependencyLandDependency.git
